/*Core Styles*/
li {
    list-style: none;
}

.body {
    margin-top: 0;
}

/*TITLE*/
.title {
    margin: 10px 0;
}

/*In check display */
.in-check-container {
    height: 30px;
}

.in-check-display {
    padding: 3px;
    border: 3px solid #ab3737;
    background: #de9ba6;
    text-align: center;
}
.in-check-display p {
    margin: 0;
}

/*BOARD --------------*/

#board {
    width: 100%;
    height: 88vw;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap; 
    margin-top: 8px;
}

.box {
    height: 11vw;
    width: 12.5%;
    margin: 0;
    background: green;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.selected-piece {
    border: 5px solid rgb(0, 135, 187);
}

.valid-move {
    border: 5px solid #ff9f12;
}

.piece {
    font-size: 10vw;
    position: relative;
    bottom: 9%;
}

/*Fallen Soldiers--------*/
.fallen-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /*Will be same width as the board*/
    margin-top: 1em;
}

.player {
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

.fallen-list {
    border: 3px solid #695f5f;
    width: 48%;
    background: #eaeaea;
}

.fallen-list ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.fallen-piece {
    margin: 0;
    font-size: 20px;
}


/*MEDIA QUERIES---------------------*/
@media screen and (min-width: 500px) {
    /*Fallen Soldiers*/
    .fallen-piece {
        font-size: 30px;
    }
}